.forget-password-container {
  max-width: 400px;
  margin: auto; /* Center horizontally */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forget-password-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.forget-password-container .form-group {
  margin-bottom: 15px;
}

.forget-password-container label {
  display: block;
  margin-bottom: 8px;
}

.forget-password-container input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.forget-password-container button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.forget-password-container button:hover {
  background-color: #0056b3;
}
